.dashboard-container {
  display: flex;
  height: 100vh;
  font-family: Arial, sans-serif;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #662671;
  color: white;
  padding: 10px 20px;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  height: 30px;
  margin-right: 10px;
}

.logout-btn {
  background-color: white;
  color: #6b46c1;
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
}
.sidebarnav {
  display: flex;
  flex-direction: row;
}

.sidebar {
  width: 200px;
  padding: 20px;
  height: 100vh;
  background-color: #f4f4f4;
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.sidebar li {
  margin-bottom: 10px;
  margin-top: 29px;
}

.sidebar li:hover {
  background-color: #fff8b7;
}

.sidebar a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #333;
  padding: 10px;
  border-radius: 4px;
  transition: background-color 0.3s;
}

.sidebar a:hover,
.sidebar a.active {
  background-color: #e0e0e0;
}

.sidebar a i {
  margin-right: 10px;
}

.main-content {
  flex-grow: 1;
  padding: 20px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.rightside {
  display: block;
  margin: 50px 109px;
}
.form-group {
  display: flex;
  margin: 10px 50px;
}

.form-group-row1 {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.input-wrapper1 {
  position: relative;
  display: flex;
  align-items: center;
}

.file-input {
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 100%;
}

.icon-right {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  color: #888;
}

.form-actions {
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
}

.form-actions button {
  margin-left: 10px;
  padding: 5px 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.form-actions button[type="submit"] {
  background-color: green;
  color: white;
}

.form-actions button[type="button"] {
  background-color: lightgray;
}
